h1 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 300;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  font-weight: 300;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 300;
}

h5 {
	font-family: 'Lato', sans-serif;
  	font-size: 20px;
  	font-weight: 300;
}

p, a, input {
	font-family: 'Lato', sans-serif;
  	font-size: 18px;
}

.margin-top-bottom-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-5vh {
	margin-bottom: 5vh;
}

.section-content {
	padding: 5vh 0;
	width: 100%;
}

.form-control {
	border-radius: 0px;
}

.btn {
	border-radius: 0px;
}

.text-uppercase {
	text-transform: uppercase;
}





.stage-bg {
	background: url('/static/img/bg3.png') no-repeat;
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;
	padding: 0;
	height: auto;
	min-height: 100vh;
}

.stage-bg__text-container {
	background-color: rgb(255,255,255);
	height: auto;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.padding-0 {
	padding: 0;
	overflow: hidden;
}

.font-size-16 {
	font-size: 16px;
}

.font-size-14 {
	font-size: 14px;
}

.text-gray {
	color: #8c8c8c;
}





.sign-up-bg__text-container {
	background-color: #fff;
	height: auto;
	min-height: 100vh;
	color: blue;
	display: flex;
	align-items: center;
}




.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu__item {
	display: inline-block;
	float: left;
}

.menu__item--account {
	clear: both;
	display: block;
}

.menu__item a {
	color: white;
	display: block;
	font-size: 14px;
	font-weight: 300;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 2px;
}

.menu__item--account a {
	color: #546583;
	font-size: 18px;
	padding: 1rem 0;
}

.menu__item--account a:hover {
	color: black;
	font-size: 18px;
	padding: 1rem 0;
}

.site-nav nav {
	float: right;
}

.stage-content {
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
}

.site-logo {
	margin: 0;	
	display: flex;
	align-items: center;
	padding: 5px 0px;
}

.mySearch {
	height: 45px;
	background: transparent;
	font-size: 25px;
	border: none;
	box-shadow: none;
	color: #13133a;
	font-family: 'Lato';
	font-weight: 500;
	padding: 0 1rem;
}

.mySearch:focus {
	border-color: transparent;
	background: white;
	outline: 0;
    box-shadow: none;
}

.giveMeEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4; /* number of lines to show */
   line-height: 18px;        /* fallback */
   max-height: 72px;       /* fallback */
}








.booking-bg {
	/*background: url('/static/img/bg1.jpg') no-repeat;*/
	background-color: #e6e6e6;
	background-size: cover;
	background-position: center;
	padding: 0;
}

.booking-bg__text-container {
	/*background-color: rgba(0,0,0,0.6);*/
	padding: 0;
	color: white;
}

.search-bg {
	background: url('/static/img/bg1.jpg') no-repeat;
	background-color: #e6e6e6;
	background-size: cover;
	background-position: center;
	padding: 0;
}

.search-bg__text-container {
	background-color: rgba(0,0,0,0.6);
	padding: 2rem 0;
	color: white;
	text-align: center;
}








.account-aside {
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.account-img {
	height: 100px;
	margin-bottom: 3rem;
}





.flex {
	list-style: none;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}

.flex__item {
	margin-top: 3rem;
}




@media (max-width: 720px) {
	.hideColumn {
		display: none;
	}
}